pkgbase = statistics-4you
	pkgdesc = Daemon fetching statistics from Mennekes AMTRON 4You charge points
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/teiesti/statistics-4you
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = rust
	source = statistics-4you-0.1.0.tar.gz::https://github.com/teiesti/statistics-4you/archive/v0.1.0.tar.gz
	source = statistics-4you.service
	source = statistics-4you.sysusers
	source = statistics-4you.tmpfiles
	sha256sums = 75daa8300a15acf9984de4c4407f1a6fe984f8a55920e4633f29ef1680953e26
	sha256sums = db2d533675483ba9ea168606bd3acd19b9c79c7fb833d8dfb313ee1118f430c6
	sha256sums = 880acc36d8b2a3daf13e8c65f89b018c44b4cf0f8116775b11b11f3b091d57bd
	sha256sums = 2a8947bebf9910825668ef8fd38ea2e38a7c65f00f4cb213dc43e0bd3c153b5a

pkgname = statistics-4you
