pkgbase = statistics-4you
	pkgdesc = Daemon fetching statistics from Mennekes AMTRON 4You charge points
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/teiesti/statistics-4you
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = rust
	source = statistics-4you-0.1.0.tar.gz::https://github.com/teiesti/statistics-4you/archive/v0.1.0.tar.gz
	source = statistics-4you.service
	source = statistics-4you.sysusers
	source = statistics-4you.tmpfiles
	sha256sums = 8b5ad0ef097ba17fc5bc1185264928df4aa61b6f38be8f40e97c79272f7ca5da
	sha256sums = 352381b12f4d37f0c29d6e06ce1177a787faec7921bdbe07453b6943b19e5e1d
	sha256sums = 880acc36d8b2a3daf13e8c65f89b018c44b4cf0f8116775b11b11f3b091d57bd
	sha256sums = fb4e0a53b383c8b8fe42e64b3cbee2dc2aaceef486cfa834bd26ab412df85ac7

pkgname = statistics-4you
